.homepage__section {
    background-image: url("../assets/homepage-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin-block-end: 0.1em;
}

.homepage__section * {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.homepage__header {
    font-family: 'Poppins', sans-serif;
    color: #CCCCCC;
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline-start: 1em;
    padding-block-end: 2em;
}

.homepage__header h1{
    font-size: 2em;
    text-transform: uppercase;
}

.homepage__header h2 {
    font-size: 1.25em;
    text-transform: capitalize;
    font-weight: 500;
}


@media screen and (min-width: 600px) {
    .homepage__header {
        padding-inline-start: 7.5em;   
        padding-block-end: 4em;
    }

    .homepage__header h1 {
        font-size: 2.25em;
    }
}


@media screen and (min-width: 1000px) {
    .homepage__header {
        padding-inline-start: 10em;   
    }

    .homepage__header h1 {
        font-size: 2.5em;
    }

    .homepage__header h2 {
        font-size: 1.5em;
        padding-block-end: 7.5em;
    }

}

@media screen and (min-width: 1200px) {
    .homepage__header {
        padding-inline-start: 15em;   
    }

    .homepage__header h1 {
        font-size: 3em;
    }

    .homepage__header h2 {
        font-size: 1.75em;
        text-transform: capitalize;
        padding-block-end: 7.5em;
    }

}