.portfolio__section {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 2em;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../assets/portfolio-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #c6b893;
    font-family: 'Poppins', sans-serif;
}

.portfolio__section p {
    padding-block-start: 2em;
    font-size: 1.25em;
    max-width: 75em;
    padding: 2em;
    text-shadow: 2px 2px black;
}

.portfolio__section a {
    text-decoration: underline;
    color: #c6b893;
}

.portfolio__header {
    font-size: 2.75em;
    font-weight: 500;
    width: 100%;
    max-width: 75em;
    text-align: center;
    padding-block-start: 1em;
    padding-block-end: 0.5em;
    text-transform: capitalize;
    text-shadow: 2px 2px black;
}


.portfolio__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 75em;
    padding: 2em;
    background-color: rgba(34,34,34,0.5);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
}

.portfolio__video__wrapper {
    overflow: hidden;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    padding-block-start: 3em;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid black;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
}

.portfolio__button {
    height: 2.5em;
    width: 10em;
    margin: 0 auto;
    background-color: rgba(34,34,34,255);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #c6b893;
    border-radius: 2em;
    color: #c6b893;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
}