.portfolio__section {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../assets/portfolio-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #CCCCCC;
    position: relative;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.portfolio__slidecontainer {
    width: 100%;
    max-width: 85em;
    min-height: 3.25em;
}

.portfolio__section p {
    padding-block-start: 2em;
    font-size: 0.85em;
    max-width: 75em;
    padding: 0.5em;
    text-shadow: 2px 2px black;
    color: #CCCCCC;
}

.portfolio__section a {
    text-decoration: underline;
    text-shadow: none;
    color: #c6b893;
}

.portfolio__header {
    color: #CCCCCC;
    font-size: 1.5em;
    width: 100%;
    max-width: 75em;
    text-align: center;
    padding-block-start: 0;
    padding-block-end: 0;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 2px 2px black;
}

.portfolio__video__wrapper {
    width: 100%;
    min-height: 395px;
    display: flex;
    flex-direction: column;
    flex: 0.5;
    gap: 0.5em;
    margin: 0 auto;
    padding-block-start: 3em;
    padding: 1em;
    background-color: rgba(35,40,44, 0.5);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.portfolio__video__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    text-align: center;
    text-shadow: 2px 2px black;
}

.portfolio__video {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
}

video {
    width: 100%;
    height: 100%;
}

.portfolio__button {
    height: 2.5em;
    width: 10em;
    margin: 0 auto;
    background-color: inherit;
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.1);
    border: 2px solid #c6b893;
    border-radius: 2em;
    color: #c6b893;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-shadow: 2px 2px black;
}

@media screen and (min-width: 480px) {
    .portfolio__section {
        padding: 1em;
    }

    .portfolio__video__wrapper {
        min-height: 420px;
        padding: 2em;
    }

    .portfolio__slidecontainer {
        min-height: 3.5em;
    }

    .portfolio__header {
        padding-block-start: 0.25em;
        padding-block-end: 0.25em;
    }

    .portfolio__section p {
        padding-block-start: 0.75em;
        font-size: 1em;
    }
}

@media screen and (min-width: 600px) {
    .portfolio__video__wrapper {
        flex-direction: row;
        min-height: 300px;
        gap: 1em;
    }

    .portfolio__section p {
        font-size: 1.25em;
        padding-block-start: 1.5em;
    }

    .portfolio__slidecontainer {
        min-height: 8em;
    }

    .portfolio__header {
        font-size: 2.25em;
        padding-block-start: 0.5em;
        padding-block-end: 0.5em;
    }

    .portfolio__flex__reverse {
        display: flex;
        flex-direction: row-reverse !important;
    }

    .portfolio__video__text {
        padding-block-start: 2em;
    }

    .portfolio__header {
        padding-block-start: 0.5em;
    }
  
  }

  @media screen and (min-width: 800px) {

    .portfolio__video__wrapper {
        gap: 2em;
        max-width: 85em;
    }

    .portfolio__button {
        height: 3.5em;
        width: 12.5em;
    }

  }

  @media screen and (min-width: 1000px) {
    .portfolio__video__wrapper {
        gap: 6em;
    }
  
    .portfolio__header {
        font-size: 2.5em;
    }
  }