.product__section {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 0.75em;
    color: #CCCCCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-image: url('../assets/product-bg.jpg');
    background-size: cover;
    background-position: center;
}

.product__steps__container {
    max-width: 85em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5em;
}

.product__step__wrapper {
    position: relative;
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
}

.product__header {
    font-size: 1.5em;
    width: 100%;
    max-width: 75em;
    text-align: center;
    padding-block-start: 0;
    padding-block-end: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 2px 2px black;
}

.product__text {
    padding-block-start: 2em;
    font-size: 0.8em;
    max-width: 75em;
    padding: 0.5em;
    text-shadow: 2px 2px black;
    color: #CCCCCC;
    letter-spacing: 0.1em;
    text-align: justify;
    z-index: 10;
}

.product__bold {
    font-weight: 600;
}

.product__step__icon {
    position: absolute;
    width: 10em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: 5;
    filter: invert(79%) sepia(22%) saturate(360%) hue-rotate(6deg) brightness(91%) contrast(87%);
}

@media screen and (min-width: 600px) {

    .product__text {
        font-size: 0.85em;
    }

    .product__header {
        padding-block-start: 0.5em;
        padding-block-end: 0.5em;
    }
  
  }

  @media screen and (min-width: 800px) {
    .product__steps__container {
        gap: 2.2em;
    }

  
  }

  @media screen and (min-width: 1000px) {
    .product__section {
        background-position: right;
    }
  
    .product__header {
        font-size: 2.5em;
    }

    .product__steps__container {
        gap: 1em;
        padding-block-start: 5em;
    }

    .product__text {
        font-size: 1em;
    }

    .product__step__icon {
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.8;
    }
  }

  @media screen and (min-width: 1200px) {
    .product__text {
        font-size: 1.2em;
    }

  }