:root {
    --main-color:  rgba(35,40,44, 1);;
    --main-color-hover: rgba(35,40,44, 0.25);
    --track-color: rgb(136, 133, 133);
}

.slider__container {
    width: 100%;
    height: 100%;
    max-width: 50%;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.customSlider-track {
    top: 0.85em;
    height: 1em;
    border: 2px solid #c6b893;
    background: var(--track-color);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2em;
    z-index: 1;
}

.customSlider-track.customSlider-track-0 {
    background: var(--main-color);
}

.customSlider-thumb {
    cursor: pointer;
    background: var(--main-color);
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    outline: none;
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #c6b893;
}

.customSlider-thumb:hover {
    box-shadow: 0 0 0 8px var(--main-color-hover);
}

.customSlider-thumb-value {
    position: absolute;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #c6b893;
}

.marks__container {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.4em 1em 0 1em;
}

.example-mark {
    width: 0.2em;
    border: 1px solid black;
    height: 2em;
    background-color: #c6b893;
}

.slider__arrow {
    position: absolute;
    width: 2.2em;
    top: 10%;
    z-index: 5;
    opacity: 0.5;
    margin-inline-start: 1.15em;
}

@media screen and (min-width: 600px) {
    .slider__arrow {
        position: absolute;
        width: 5em;
        top: 0;
        margin-inline-start: 2.6715em;
        z-index: 1;
    }
    
    .customSlider-track {
        top: 1.5em;
        height: 2em;
    }

    .marks__container {
        padding: 0.4em 1.5em 0 1.5em;
    }

    .example-mark {
        width: 0.25em;
        border: 1px solid black;
        height: 4.5em;
        background-color: #c6b893;
    }

    .customSlider-thumb {
        width: 5em;
        height: 5em;
    }

    .customSlider-thumb-value {
        font-size: 3em;
    }

}