* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: rgba(34,34,34,255);
  height: 100%;
}

#root {
  height: 100%;
  position: relative;
}

.main__content {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100vh;
}

.main__content::-webkit-scrollbar {
  display: none;
}


.main__content div > section {
  height: 100vh;
  padding-block-start: 4.75em;
  scroll-snap-align: start;
}

.main__content > section {
  height: 100vh;
  padding-block-start: 4.75em;
  scroll-snap-align: start;
}

.main__content > section:nth-child(2) {
  height: 300vh;
}

@media screen and (min-width: 400px) {
  .main__content > section:nth-child(2) {
    height: 200vh;
  }

}

@media screen and (min-width: 600px) {
  .main__content > section:nth-child(2) {
    height: 125vh;
  }

}
