* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(34,34,34,255);
}

.main__content {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.main__content > section {
  height: 100vh;
  padding-block-start: 4.75em;
  scroll-snap-align: start;
}